# Database storage & WAL logs
data/*.db
data/*.db-wal
data/*.db-shm
data/*.sqlite

# Environment variables & secrets
.env
.env.*

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Node temporary files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
